// --------------------
// Definition of variables
$primary: #121212;
$secondary: #282828;

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import 'bootstrap/scss/bootstrap';
// ----------------------------------------


// --------------------
// Style reusable for all components
html {
  height: 100%;
}
body {
  background: $primary;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
ul {
  padding: 0;
}
.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App-title {
  font-size: 52px;
  letter-spacing: .25em;
  padding-left: 14px;
}
.logo-wrapper {
  margin: 0 0 0 10px;
}
.App {
  text-align: center;

  .logo-p {
    font-size: 13px;
    letter-spacing: .02em;
  }

  .App-header {
    background-color: $primary;
    color: white;
    padding: 10px;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }
}
// --------------------
// Style for playlist and song search component
.cover-art {
  cursor: pointer;
  height: 80px;
  width: 80px;
}
.list-item-search-container {
  background: #282828;
  font-size: 14px;
  height: 80px;
  width: 100%;
}
.search-pl-container {
  display: flex;
}
.scroll-y {
  height: calc(100vh - 82px);
  overflow-y: auto;
}
.SongSearch, .pl-container {
  scrollbar-color: #282828 #121212;
  -webkit-scrollbar: #282828 #121212;
  background: #121212;
  color: #fff;
  width: 50%;
}
.ul {
  margin-top: 65px;
}
.btn-fixed-width {
  width: 150px;
}
// Style for your playlists component
.your-playlist-container, .choose-playlist-container {
  background: #121212;
  color: #fff;
  height: calc(100vh - 82px);
  overflow-x: hidden;
}
.edit-playlist-item {
  background: $secondary;
}
// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}

//  -------------------
//  FONT STYLE FOR ERROR MESSAGES
.error {
  color: red;
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}
